*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-size: 20px;
    font-family: 'Libre Franklin', 'serif';
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .illustration-dashboard{
    width: 80%;
}

.container .logo{
    margin-top: 90px;
    margin-bottom: 40px;
}

.container .launch-text{
    font-size: 2rem;
    color: hsl(0, 0%, 59%);
    margin-bottom: 20px;
}

.container .launch-text span{
    color: #000;
    font-weight: bold;
}

.container .subscription-text{
    margin-bottom: 40px;
    color: #000;
}

.container .bottom{
    margin-top: 120px;
}

.container .copyright{
    font-size: 1rem;
    color: hsl(0, 0%, 59%);
}

.container form .error-msg{
    font-size: 1rem;
    color: hsl(354, 100%, 66%);
    margin-bottom: 20px;
    text-align: center;
}

.hide{
    display: none;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

ul li button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    border: 1px solid hsl(0, 0%, 59%);
}

ul li button i{
    color: hsl(223, 87%, 63%);
    font-size: 1.5rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form input{
    height: 50px;
    border-radius: 30px;
    margin-bottom: 10px;
    border: 1px solid hsl(223, 100%, 88%);
    padding-left: 20px;
}

form button{
    height: 50px;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: hsl(223, 87%, 63%);
    color: #fff;
    border: none;
    margin-bottom: 60px;
}

@media only screen and (min-width:1440px){
form{
    display: flex;
    flex-direction: row;
    position: relative;
}
form input{
    width: 60%;
    margin-right: 20px;
}
form button{
    width: 40%;
}
form button:hover{
    cursor: pointer;
}
.container form .error-msg{
    position: absolute;
    bottom: 15px;
    left: 30px;
}
.container .bottom .copyright{
    margin-bottom: 30px;
}
.container .launch-text{
    font-size: 4rem;
}
.container .subscription-text{
    font-size: 2rem;
}
ul li button:hover{
    cursor: pointer;
}
}